<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <title>FrameRate | <%= title %></title>
</head>

<body>
  <header>
    <img src="/images/logo.png" class="header__logo">
    <a href="/" class="header__title">FrameRate</a>
    <button class="btn btn--icon">
      <span class="material-icons-outlined">account_circle</span>
    </button>
  </header>