<!-- Add your views in this folder -->
<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>FrameRate</title>
</head>

<body>
  <nav id="header" class="header">
  <div class="header__logo"><img src="images/logo.png" alt="FrameRates logo">  </div>
  <div class="header__title">FrameRate - Movie Database</div>
  <div class="header__topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#about">About</a>
    </div>
  </nav>
 
