<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FrameRate</title>
</head>

<body>
  <h1>Hello, developer!</h1>
  <p>
    This is the folder where you'll create your views. Good luck and have fun!
  </p>
</body>

</html>