<!-- Add your views in this folder -->
<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>FrameRate</title>
</head>

<body>
  <h1>FrameRate</h1>
  <ul class="movie-list">
    <% for (let movie of movies) { %>
    <li class="movie-list__movie">
      <a class="movie-list__link" href="/movie/<%= movie.id %>">
        <h2 class="movie-list__title"><%= movie.title %></h2>
        <h5 class="movie-list__release-date"><%= movie.releaseDate %></h5>
      </a>
    </li>
    <% } %>
  </ul>

</body>

</html>